<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<!-- debug용 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d %5p [%c] %m%n</Pattern>
		</encoder>
	</appender>
	
	<!-- info용 -->
	<appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d %5p %m%n</Pattern>
		</encoder>
	</appender>
	
	<!-- 로거출력 옵션 -->
	<logger name="jdbc" level="OFF"/>
  <logger name="jdbc.sqlonly" level="DEBUG"/>
  <logger name="jdbc.sqltiming" level="OFF"/>
  <logger name="jdbc.audit" level="OFF"/>
  <logger name="jdbc.resultset" level="OFF"/>
  <logger name="jdbc.resultsettable" level="OFF"/>
  <logger name="jdbc.connection" level="OFF"/>

	<!-- 루트로거 -->
	<root level="info">
		<appender-ref ref="console"/>
	</root>
</configuration>