<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>TRGCAHT</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css">
		<link rel="stylesheet" type="text/css" href="css/common.css">
	</head>
	<body>
	
		<div class="signup">
			<div class="signup-frame">
				<h1 class="signup-logo">
					<span class="signup-logo_trg">TRG</span> 
					<span class="signup-logo_chat">CHAT</span>
					<h3 class="signup-sub_title">회원가입</h3>
				</h1>
				<form action="/signup" method="POST">
					<input class="signup_input loginId" type="text" name="loginId" placeholder="로그인ID를 입력하세요.">
					<input class="signup_input passwd" type="password" name="passwd" placeholder="비밀번호를 입력하세요.">
					<button class="signup_bnt signup" type="submit">회원가입</button>
					<a class="signup_bnt login" href="/">로그인 이동</a>
				</form>
			</div>
		</div>
	</body>
	
</html>